body{
	margin:0;
}

.wiersz {
	width: 100%;
	display: flex;
	padding: 5px 15px;
	box-sizing: border-box;
	color:white;
}

.wiersz.Naglowek {
	height:24vh;
	background-color: green;
	text-align: center;
}

.wiersz.Naglowek h2 {
	width:100%;
}

.wiersz.Gora {
	justify-content:flex-end;
}

.wiersz.Srodek {
	justify-content:center;
}

.wiersz.Dol {
	justify-content:flex-start;
}

.blok {
	padding: 16px;
	width:33.333%;
	background-color: #fbfbfb66;
	text-align: center;
	box-sizing: border-box;
	border-radius: 8px;
	box-shadow: #000 0px 0px 4px;
}

.blok a {
	display: inline-block;
	padding: 4px 10px;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background: #008000;
	border-radius: 4px;
}

footer {
    position: fixed;
    bottom: 0;
	  height:4vh;
}

img {
	display: block;
	margin: 0 auto;
	width: 60%;
}

.photo {
	background-image: url('./images/unsplash.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
